@model IEnumerable<Data.CLIENTE>

@Html.Partial("_NavBar")

@{
    ViewBag.Title = "Lista de Clientes";
}

<div class="content-wrapper">

    <div class="text-center mb-3">
        <h2>Clientes Registrados</h2>
        <button type="button" class="btn" data-toggle="modal" data-target="#createModal" style="background-color: #004400;color:white">Agregar Cliente</button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Fecha Nacimiento</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.IDCLIENTE</td>
                        <td>@cliente.CEDULACLIENTE</td>
                        <td>@cliente.NOMBRECLIENTE</td>
                        <td>@cliente.APELLIDOCLIENTE</td>
                        <td>@cliente.TELEFONOCLIENTE</td>
                        <td>@cliente.DIRECCLIENTE</td>
                        <td>@(cliente.FECHANACCLIENTE.HasValue ? cliente.FECHANACCLIENTE.Value.ToShortDateString() : "")</td>
                        <td>@(cliente.ESTADOCLIENTE == true ? "Activo" : "Inactivo")</td>
                        <td>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editModal" data-id="@cliente.IDCLIENTE"><i class="fal fa-edit"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Modal para Crear -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="createModalLabel">Crear Cliente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_CrearClienteForm", new Data.CLIENTE())
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Editar -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editModalLabel">Editar Cliente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se cargará el formulario de edición -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Agrega jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Agrega los scripts de Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');

        var modal = $(this);
        $.ajax({
            url: '@Url.Action("Edit", "Client")',
            type: 'GET',
            data: { id: id },
            success: function (data) {
                modal.find('.modal-body').html(data);
            }
        });
    });
</script>
