@model Data.GENEROLITERARIO

@using (Html.BeginForm(Model.IDGL == 0 ? "Create" : "Edit", "LiteraryGenre", FormMethod.Post, new { id = "generoForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Género Literario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" id="IDGL" name="IDGL" value="@Model.IDGL" />

        <div class="form-group">
            <label class="control-label col-md-2" for="NOMBREGL">Nombre</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="NOMBREGL" name="NOMBREGL" value="@Model.NOMBREGL" required maxlength="100" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DESCRIPGL">Descripción</label>
            <div class="col-md-10">
                <textarea class="form-control" id="DESCRIPGL" name="DESCRIPGL" rows="3" maxlength="200">@Model.DESCRIPGL</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="text-center">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

