@model IEnumerable<Data.LIBRO>

@Html.Partial("_NavBar")

@{
    ViewBag.Title = "Lista de Libros";
}

<div class="content-wrapper">
    <div class="text-center mb-3">
        <h2>Libros Registrados</h2>
        <button type="button" class="btn" data-toggle="modal" data-target="#createModal" style="background-color: #004400;color:white">Agregar Libro</button>
    </div>

    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-3 text-center">
                <div class="card mb-3">
                    <a href="@Url.Action("Details", "Book", new { id = book.IDLIBRO })">
                        <img class="card-img-top" src="@book.IMGLIBRO" alt="@book.NOMBRELIBRO" style="height: 300px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@book.NOMBRELIBRO</h5>
                        <p class="card-text" data-idautor="@book.IDAUTOR" id="autor-@book.IDAUTOR">Cargando...</p>
                        <p class="card-text"><small class="text-muted">@book.ANIOPUBLIBRO.Value.Year</small></p>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Modal para Crear -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="createModalLabel">Crear Libro</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_CrearLibroForm", new Data.LIBRO())
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Editar -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editModalLabel">Editar Libro</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se cargará el formulario de edición -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Agrega jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Agrega los scripts de Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('[data-idautor]').each(function () {
            var autorId = $(this).data('idautor');
            var element = $(this);
            $.ajax({
                url: 'http://localhost:54845/api/author/GetById/' + autorId,  // Asegúrate de que esta URL es correcta
                type: 'GET',
                success: function (data) {
                    console.log(data); // Verifica la estructura de la respuesta en la consola
                    element.text(data.NOMBREAUTOR);
                },
                error: function () {
                    element.text('Autor no encontrado');
                }
            });
        });
    });

    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');

        var modal = $(this);
        $.ajax({
            url: '@Url.Action("Edit", "Book")',
            type: 'GET',
            data: { id: id },
            success: function (data) {
                modal.find('.modal-body').html(data);
                
            }
        });
    });

    $('#createModal').on('show.bs.modal', function (event) {
        $('#createModal #STOCKLIBRO').val(0);
        addValidationScripts(); // Agrega validaciones cuando se muestra el modal de creación
    });

    function addValidationScripts() {
        // Uso de un selector más específico para evitar conflictos
        $('#createModal #NOMBRELIBRO, #editModal #NOMBRELIBRO').keypress(function (e) {
            var charCode = e.which;
            var charCode = e.which;
            // Permite letras (mayúsculas y minúsculas), números, espacio, guiones, comas y slashes
            if (!((charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122) || (charCode >= 48 && charCode <= 57) || charCode == 32 || charCode == 45 || charCode == 44 || charCode == 47)) {
                e.preventDefault(); // evita la entrada del carácter
            }
        });

        $('#createModal #EDITORIALLIBRO, #editModal #EDITORIALLIBRO').keypress(function (e) {
            var charCode = e.which;
            // Permite letras, números, espacios, comillas y comas
            if ((charCode >= 65 && charCode <= 90) || // Letras mayúsculas
                (charCode >= 97 && charCode <= 122) || // Letras minúsculas
                (charCode >= 48 && charCode <= 57) || // Números
                charCode == 32 || // Espacio
                charCode == 34 || // Comillas dobles (")
                charCode == 44) { // Coma (,)
                return true;
            } else {
                return false;
            }
        });

        $('#createModal #STOCKLIBRO, #editModal #STOCKLIBRO').keypress(function (e) {
            var charCode = e.which;
            // Permite solamente números (0-9)
            if (charCode < 48 || charCode > 57) {
                e.preventDefault(); // evita la entrada del carácter
            }
        });
    }
</script>
