@model Data.AUTOR

@using (Html.BeginForm(Model.IDAUTOR == 0 ? "Create" : "Edit", "Author", FormMethod.Post, new { id = "autorForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Autor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" id="IDAUTOR" name="IDAUTOR" value="@Model.IDAUTOR" />

        <div class="form-group">
            <label class="control-label col-md-2" for="NOMBREAUTOR">Nombre</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="NOMBREAUTOR" name="NOMBREAUTOR" value="@Model.NOMBREAUTOR" required maxlength="100"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="APELLIDOAUTOR">Apellido</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="APELLIDOAUTOR" name="APELLIDOAUTOR" value="@Model.APELLIDOAUTOR" maxlength="100"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="NACIONALIDADAUTOR">Nacionalidad</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="NACIONALIDADAUTOR" name="NACIONALIDADAUTOR" value="@Model.NACIONALIDADAUTOR"  maxlength="30"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="BIOGRAFIAAUTOR">Biografía</label>
            <div class="col-md-10">
                <textarea class="form-control" id="BIOGRAFIAAUTOR" name="BIOGRAFIAAUTOR" rows="3" maxlength="200">@Model.BIOGRAFIAAUTOR</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="text-center">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}
