@model IEnumerable<Data.AUTOR>

@Html.Partial("_NavBar")

@{
    ViewBag.Title = "Lista de Autores";
}
<div class="content-wrapper">

    <div class="text-center mb-3">
        <h2>Autores Registrados</h2>
        <button type="button" class="btn" data-toggle="modal" data-target="#createModal" style="background-color: #004400;color:white">Agregar Autor</button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nacionalidad</th>
                    <th>Biografía</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var autor in Model)
                {
                    <tr>
                        <td>@autor.IDAUTOR</td>
                        <td>@autor.NOMBREAUTOR</td>
                        <td>@autor.APELLIDOAUTOR</td>
                        <td>@autor.NACIONALIDADAUTOR</td>
                        <td>@autor.BIOGRAFIAAUTOR</td>
                        <td>
                            <div>
                                <button type="button" class="btn btn-outline-success btn-outline-success-custom" data-toggle="modal" data-target="#editModal" data-id="@autor.IDAUTOR"><i class="fas fa-edit"></i></button>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Modal para Crear -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="createModalLabel">Crear Autor</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_CrearAutorForm", new Data.AUTOR())
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Editar -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editModalLabel">Editar Autor</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se cargará el formulario de edición -->
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Agrega jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Agrega los scripts de Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');

        var modal = $(this);
        $.ajax({
            url: '@Url.Action("Edit", "Author")',
            type: 'GET',
            data: { id: id },
            success: function (data) {
                modal.find('.modal-body').html(data);
                addValidationScripts(modal);
            }
        });
    });
    $('#createModal').on('show.bs.modal', function (event) {
        addValidationScripts($(this));
    });

    function addValidationScripts(modal) {

        // Validación de caracteres en los campos de Nombre y Apellido
        modal.find('#NOMBREAUTOR, #APELLIDOAUTOR, NACIONALIDADAUTOR').keypress(function (e) {
            var charCode = e.which;
            // Permite letras (mayúsculas y minúsculas), espacio y la letra "ñ"
            if (!((charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122) || charCode == 32 || charCode == 241 || charCode == 209)) {
                e.preventDefault(); // evita la entrada del carácter
            }
        });
        // Validación de caracteres en el campo de Biografía
        modal.find('#BIOGRAFIAAUTOR').keypress(function (e) {
            var charCode = e.which;
            // Permitir letras, números, espacios y algunos signos de puntuación básicos
            if (!((charCode >= 65 && charCode <= 90) ||
                (charCode >= 97 && charCode <= 122) ||
                (charCode >= 48 && charCode <= 57) ||
                charCode == 32 || // espacio
                charCode == 46 || // punto
                charCode == 44 || // coma
                charCode == 33 || // exclamación
                charCode == 63 || // interrogación
                charCode == 241 || // ñ minúscula
                charCode == 209 || // Ñ mayúscula
                charCode == 39 || // comilla simple
                charCode == 45)) { // guion
                e.preventDefault(); // Evita la entrada del carácter
            }
        });

       
    }
</script>
